Source: daikin2mqtt
Maintainer: Balázs Grill <balazs.grill@live.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: daikin2mqtt
Architecture: any
Depends:
Description: daikin AC control over MQTT